.bridge { background: #34495e; color: #fff; padding: 1.5rem; font-family: 'Chivo'; padding-left:1rem; padding-right:1rem; }

.bridge > .row{ padding-left:2rem; padding-right:2rem; }

.bridge .row > p,
.bridge .row > h1,
.bridge .row > h2,
.bridge .row > h3, 
.bridge .row > h4, 
.bridge .row > h5,
.bridge .row > h6 { margin-top: 2.5rem; }