.header{
	height: 60px;
	font-family: 'Chivo';
	border-bottom: var(--border-size) var(--border-style) #ddd;
	background: #1D6ECB;
	color:#fff;
}

.header > .navbar-brand {
	font-size:25px;
	line-height: 0;
}