@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/*@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';*/
@import url('https://fonts.googleapis.com/css?family=Chivo');
@import './vars/_all.css';
@import './components/_all.css';

body {
    background: var(--background-one);
    color: var(--color);
    font-family: --font;
}

.mainWrapper > .content,
.lightsWrapper > .content{
	min-height:600px;
	margin:1px;
	background: #F6F7F9;
}

.mainWrapper .content > .main-content,
.lightsWrapper .content > .main-content{
	min-height: 650px;
	background: #F6F7F9;
	border-radius: 2px 2px 2px 2px;
	margin-top:1rem;
	margin-left:-2rem;
	left:-41px;
	font-family: var(--font);
}
