@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './vars/_all.css';
@import './components/_all.css';

body {
    background: var(--background-one);
    color: var(--color);
    font-family: --font;
    overflow-x: hidden;
}

.mainWrapper > .content,
.lightsWrapper > .content,
.lightWrapper > .coontent{
	min-height:600px;
	margin:1px;
	background: #F6F7F9;
	margin-bottom:2px;
}

.mainWrapper .content > .main-content,
.lightsWrapper .content > .main-content,
.lightWrapper .content > .main-content{
	min-height: 650px;
	background: #F6F7F9;
	border-radius: 2px 2px 2px 2px;
	margin-top:1rem;
	margin-left:-2rem;
	left:-41px;
	font-family: var(--font);
	top:70px;
}
