:root {
	--background-one: #F6F7F9;
	--background-two: #004e92;
	--font: 'Roboto', sans-serif;
	--color: #000;
	--style-type: none;
	--radius: 5px 5px 5px 5px;
	--border-size: 1.5px;
	--border-style: solid;
}

